@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
  box-shadow: 0 0 15px 0 #00000033;
}

.main-container {
  flex-grow: 1;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-header {
  margin: 0;
  width: 1200px;
}

.main-nav {
  margin: 0 70px;
  width: 1060px;
  display: flex;
  justify-content: space-between;
}

.main-nav__favourites-number {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 20px;
  top: 11px;
  min-width: 20px;
  height: 20px;
  font-size: 10px;
  line-height: 10px;
  background-color: #7db54f;
  color: #ffffff;
  border-radius: 10px;
}

.main-nav__logo-sedona {
  position: relative;
}

.main-nav__wrapper {
  display: flex;
  justify-content: space-between;
  width: 507px;
}

.main-nav__link {
  position: relative;
  margin: 0;
  text-decoration: none;
  color: #000000;
}

.main-nav__link--current::before {
  position: absolute;
  right: 20px;
  bottom: 0;
  left: 20px;
  height: 2px;
  background-color: #756257;
  content: "";
}

.main-nav__list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  width: 339px;
  list-style: none;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.main-nav__list a {
  padding: 20px 16px;
}

.main-nav__search-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  width: 268px;
  list-style: none;
  font-size: 16px;
  line-height: 20px;
}

.main-nav__button {
  display: block;
  margin: 14px 0 14px 20px;
  padding: 8px 34px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #756157;
  border-radius: 4px;
}

.main-nav__button:hover,
.main-nav__button:focus {
  background-color: #615048;
}

.main-nav__button:active {
  color: #ffffff4d;
}

.main-nav__button:disabled {
  background-color: #e5e5e5;
  color: #ffffff;
}

.main-nav__search-link {
  background-image: url("../images/search.svg");
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  margin: 0;
  padding: 23px 13px;
  width: 18px;
  height: 18px;
}

.main-nav__favourites-link {
  background-image: url("../images/favourites.svg");
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  margin: 0;
  padding: 24px 13px 23px;
  width: 18px;
  height: 17px;
}

.hero {
  margin-top: -10px;
  height: 485px;
  background-image: url("../images/tie.svg");
  background-size: 1200px 57px;
  background-position: bottom center;
  background-repeat: no-repeat;
}

.hero__background-image {
  position: relative;
  z-index: -1;
}

.hero__welcome-logo {
  position: absolute;
  top: 115px;
  left: 35%;
}

.slogan {
  padding: 69px 274px;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
}

.slogan__title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.advantages {
  margin-top: 21px;
  text-align: center;
}

.advantages__title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.advantages__image-title {
  color: #ffffff;
}

.advantages__list {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantages__item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 112px 0;
  width: 400px;
}

.advantages__item::before {
  position: absolute;
  right: 170px;
  top: 198px;
  left: 170px;
  height: 2px;
  background-color: #0000004d;
  content: "";
}

.advantages__description,
.advantages__title {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.advantages__title {
  margin-bottom: 62px;
}

.advantages__item:nth-child(even) {
  background-color: #83b3d31f;
}

.advantages__item:nth-child(3n) {
  background-color: #83b3d333;
}

.advantages__item-sedona,
.advantages__item-bridge {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  background-color: #82b3d3;
  color: #ffffff;
}

.advantages__item-sedona::before {
  position: absolute;
  right: 970px;
  top: 188px;
  left: 170px;
  height: 2px;
  background-color: #ffffff4d;
  content: "";
}

.advantages__item-bridge::before {
  position: absolute;
  right: 170px;
  top: 188px;
  left: 970px;
  height: 2px;
  background-color: #ffffff4d;
  content: "";
}

.item-sedona__container,
.item-bridge__container {
  box-sizing: border-box;
  padding: 102px 85px;
  width: 400px;
}

.comfort {
  padding: 64px 347px;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
}

.comfort__title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.recommendation {
  text-align: center;
}

.recommendation__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0;
  padding: 0;
  list-style: none;
}

.recommendation__item {
  padding: 170px 85px 81px;
}

.recommendation__title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.recommendation__hotel-item {
  background-image: url("../images/hotel.svg");
  background-repeat: no-repeat;
  background-position: 163px 85px;
  background-color: #83b3d31f;
}

.recommendation__food-item {
  background-image: url("../images/food.svg");
  background-repeat: no-repeat;
  background-position: 163px 85px;
  background-color: #ffffff;
}

.recommendation__souvenir-item {
  background-image: url("../images/souvenir.svg");
  background-repeat: no-repeat;
  background-position: 163px 85px;
  background-color: #83b3d31f;
}

.search {
  padding: 96px 304px;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.search__summon {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.search__link {
  padding: 8px 50px;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #756157;
  border-radius: 4px;
}

.search__link:hover,
.search__link:focus {
  background-color: #615048;
}

.search__link:active {
  color: #ffffff4d;
}

.search__link:disabled {
  background-color: #e5e5e5;
  color: #ffffff;
}

.search__link-container {
  margin-top: 54px;
}

.subscribe {
  padding: 96px 258px 104px;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
  background-image: url("../images/background-serch.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #82b3d3;
}

.subscribe__form {
  display: flex;
  margin-top: 54px;
}

.subscribe__form input {
  flex-basis: 452px;
  flex-grow: 1;
  padding: 14px 20px;
  border: none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.subscribe__title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.subscribe__button {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  width: 232px;
  color: #ffffff;
  background-color: #82b3d3;
  border: none;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  cursor: pointer;
}

.subscribe__button:hover,
.subscribe__button:focus {
  background-color: #68a2ca;
}

.subscribe__button:active {
  background-color: #82b3d3;
  color: #ffffff4d;
}

.subscribe__button:disabled {
  background-color: #e5e5e5;
  color: #ffffff;
}

.main-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 45px 70px 35px;
}

.social__list {
  display: flex;
  justify-content: center;
  width: 144px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.social__link {
  display: flex;
  position: relative;
  width: 47px;
  margin: 0;
  padding: 0;
}

.social__icon {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  color: #83b3d3;
}

.social__icon:hover,
.social__icon:focus {
  color: #68a2ca;
}

.social__icon:active {
  color: #68a2ca4d;
}

.contact__link {
  display: flex;
  flex-wrap: wrap;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  color: #000000;
}

.contact__link:hover,
.contact__link:focus {
  color: #756157;
}

.contact__link:active {
  color: #7561574d;
}

.html-academy__link {
  display: flex;
  flex-wrap: wrap;
  width: 115px;
}

.academy__icon {
  color: #000000;
}

.academy__icon:hover,
.academy__icon:focus {
  color: #756157;
}

.academy__icon:active {
  color: #7561574d;
}

.background-form {
  display: block;
  margin: 0;
  margin-top: -10px;
  padding: 35px 70px 70px;
  background-image: url("../images/background-form.jpg");
  background-repeat: no-repeat;
  background-size: 1200px 437px;
}

.inner-header {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  color: #ffffff;
}

.inner-header__title {
  margin: 0;
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}

.breadcrumbs {
  display: flex;
  justify-content: space-between;
  width: 114px;
  margin: 0;
  margin-top: 8px;
  padding: 0;
  list-style: none;
}

.breadcrumbs__item {
  position: relative;
  display: flex;
  align-items: center;
  min-width: 8px;
  max-width: 73px;
}

.breadcrumbs__home {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  width: 20px;
  padding: 0;
  margin: 0;
}

.breadcrumbs__link {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

.breadcrumbs__link:hover {
  color: #ffffff99;
}

.breadcrumbs__link:active {
  color: #ffffff4d;
}

.breadcrumbs__icon-arrow {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  color: #ffffff;
}

.breadcrumbs__icon-arrow:hover {
  color: #ffffff99;
}

.breadcrumbs__icon-arrow:active {
  color: #ffffff4d;
}

.breadcrumbs__icon {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  color: #ffffff;
}

.breadcrumbs__icon:hover {
  color: #ffffff99;
}

.breadcrumbs__icon:active {
  color: #ffffff4d;
}

.filters {
  margin-top: 40px;
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
}

.catalog-filter {
  display: flex;
}

.catalog-filter-group {
  border: none;
  margin: 0;
  padding: 0;
}

.catalog-filter-infrastructure {
  width: 150px;
  margin-right: 70px;
}

.catalog-filter-typeofhousing {
  width: 150px;
  margin-right: 150px;
}

.catalog-filter-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-top: 32px;
  padding: 0;
  list-style-type: none;
}

.catalog-filter-item:not(:last-child) {
  margin-bottom: 16px;
}

.catalog-filter-legend {
  margin: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}

.control {
  position: relative;
  display: block;
  padding-left: 36px;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
}

.control-mark {
  position: absolute;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 4px;
}

.control-input[type="checkbox"]:hover + .control-mark {
  background-color: #e6e6e6;
}

.control-input[type="checkbox"]:focus + .control-mark {
  box-sizing: border-box;
  top: -1px;
  left: -1px;
  width: 22px;
  height: 22px;
  border: 3px solid #83b3d3;
  border-radius: 4px;
}

.control-input[type="checkbox"]:active + .control-mark {
  background-color: #bfbfbf;
}

.control-input[type="checkbox"]:checked + .control-mark {
  background-image: url("../images/checkbox-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.catalog-filter-housing {
  width: 150px;
  margin-right: 150px;
}

.control-radio {
  position: absolute;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-radio {
  background-image: url(../images/radio-icon.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.control-input[type="radio"]:hover + .control-radio {
  background-color: #e6e6e6;
}

.control-input[type="radio"]:focus + .control-radio {
  box-sizing: border-box;
  top: -1px;
  left: -1px;
  width: 22px;
  height: 22px;
  border: 3px solid #83b3d3;
  border-radius: 50%;
}

.control-input[type="radio"]:active + .control-radio {
  background-color: #bfbfbf;
}

.range {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-top: 32px;
  padding: 0;
  width: 288px;
}

.range-wrapper-inputs {
  display: flex;
  order: -1;
}

.catalog-filter-label {
  display: flex;
  margin-right: 6px;
}

.range-input {
  box-sizing: border-box;
  width: 143px;
  height: 48px;
  padding: 12px 20px;
  font: inherit;
  font-weight: 700;
  border: none;
  appearance: textfield;
}

.range-input:hover {
  background-color: #e6e6e6;
}

.range-input:focus {
  background-color: #e6e6e6;
  border: 3px solid #83b3d3;
}

.range-input:active {
  border: 3px solid #000000;
}

.range-input::placeholder {
  position: absolute;
  z-index: 1;
  right: 20px;
  top: 12px;
  color: #bfbfbf;
}

.range-input-last {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.range-input-first {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.range-scale {
  position: relative;
  height: 4px;
  margin-top: 48px;
  background-color: #b3b3b3;
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #ffffff;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.toggle-min {
  top: -8px;
  left: 0;
}

.toggle-max {
  top: -8px;
  right: -10px;
}

.filters__container {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.filters__button {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 191px;
  height: 36px;
  padding: 0;
  margin: 0;
  margin-top: 32px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  background-color: transparent;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

.filters__button:hover {
  color: #ffffff33;
}

.filters__button:focus {
  color: #ffffff;
  border: 3px solid #83b3d3;
  border-radius: 4px;
}

.filters__button:active {
  color: #ffffff4d;
}

.filters__button:disabled {
  color: #ffffff1a;
}

.filters__button--current {
  background-color: #82b3d3;
  border-radius: 4px;
  padding: 0;
  cursor: pointer;
}

.filters__button--current:hover,
.filters__button--current:focus {
  background-color: #68a2ca;
}

.filters__button--current:active {
  background-color: #82b3d3;
  color: #ffffff4d;
}

.filters__button--current:disabled {
  background-color: #e5e5e5;
  color: #ffffff;
}

.product-cards {
  position: relative;
}

.product-cards__wrapper {
  margin: 40px 70px;
}

.product-cards__filters {
  margin: 50px 70px 0;
  display: flex;
  justify-content: space-between;
}

.product-cards__result {
  padding: 0;
  margin: 0;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.product-cards__select-control {
  display: flex;
  width: 292px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
}

.product-cards__select-control:hover,
.product-cards__select-control:focus {
  border: 2px solid #68a2ca;
}

.product-cards__select-control:active {
  border: 2px solid #3f5e72;
}

.product-cards__select-control:disabled {
  border: 2px solid #0000004d;
}

.product-cards__list-view {
  display: flex;
  justify-content: space-between;
  width: 160px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.product-cards__button-big {
  background-image: url("../images/cards-big.svg");
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  padding: 17px 16px;
  margin: 0;
  margin-right: 8px;
  width: 16px;
  height: 14px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
}

.product-cards__button-big:hover,
.product-cards__button-big:active {
  border: 2px solid #000000;
}

.product-cards__button-big:focus {
  border: 2px solid #68a2ca;
}

.product-cards__button-list {
  background-image: url("../images/cards-list.svg");
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  padding: 17px 16px;
  margin: 0;
  width: 16px;
  height: 14px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
}

.product-cards__button-list:hover,
.product-cards__button-grid:active {
  border: 2px solid #000000;
}

.product-cards__button-list:focus {
  border: 2px solid #68a2ca;
}

.product-cards__button-grid {
  background-image: url("../images/cards-grid.svg");
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  padding: 17px 16px;
  margin: 0;
  margin-right: 8px;
  width: 16px;
  height: 14px;
  border: 2px solid #000000;
  border-radius: 4px;
}

.product-cards__button-grid:hover,
.product-cards__button-grid:active {
  border: 2px solid #000000;
}

.product-cards__button-grid:focus {
  border: 2px solid #68a2ca;
}

.product-cards__list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
  width: 1060px;
  list-style: none;
}

.product-cards__item {
  box-sizing: border-box;
  width: 340px;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(2, 140px);
  grid-template-rows: 1fr min-content;
  gap: 16px;
}

.product-cards__link {
  text-decoration: none;
  color: #000000;
  grid-column: 1/-1;
}

.price__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: stretch;
  grid-column: 1/-1;
}

.button-more__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  grid-column: 1/-1;
}

.rating__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  grid-column: 1/-1;
}

.product-cards__title {
  margin: 0;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
}

.product-cards__product-type {
  display: flex;
  padding: 0;
  margin: 0;
}

.product-cards__price {
  display: flex;
  padding: 0;
  margin: 0;
}

.product-cards__button-more {
  display: flex;
  box-sizing: border-box;
  width: 140px;
  padding: 8px 26px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  background-color: #756157;
  border-radius: 4px;
}

.product-cards__button-more:hover,
.product-cards__button-more:focus {
  background-color: #615048;
}

.product-cards__button-more:active {
  background-color: #756157;
  color: #ffffff4d;
}

.product-cards__button-more:disabled {
  background-color: #e5e5e5;
  color: #ffffff;
}

.product-cards__button-favourites {
  display: flex;
  box-sizing: border-box;
  width: 140px;
  border: none;
  text-decoration: none;
  padding: 8px 10px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #82b3d3;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
}

.product-cards__button-favourites:hover,
.product-cards__button-favourites:focus {
  background-color: #68a2ca;
}

.product-cards__button-favourites:active {
  background-color: #82b3d3;
  color: #ffffff4d;
}

.product-cards__button-favourites:disabled {
  background-color: #e5e5e5;
  color: #ffffff;
}

.product-cards__button-favourites--active {
  background-color: #7db54f;
}

.product-cards__button-favourites--active:hover,
.product-cards__button-favourites--active:focus {
  background-color: #6c9e42;
}

.product-cards__button-favourites--active:active {
  background-color: #7db54f;
  color: #ffffff4d;
}

.product-cards__button-favourites--active:disabled {
  background-color: #e5e5e5;
  color: #ffffff;
}

.product-cards__rating {
  display: flex;
  box-sizing: border-box;
  width: 140px;
  padding: 9px 22px 8px 23px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: inherit;
  background-color: #f2f2f2;
  border-radius: 4px;
}

.two-stars-image {
  display: flex;
  padding: 0;
}

.three-stars-image {
  display: flex;
  padding: 0;
}

.four-stars-image {
  display: flex;
  padding: 0;
}

.pagination {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  width: 400px;
  margin: 0;
  margin-left: 70px;
  margin-top: 80px;
  padding: 0;
  list-style: none;
}

.pagination::before {
  position: absolute;
  right: 70px;
  bottom: 100px;
  left: 70px;
  height: 1px;
  background-color: #e6e6e6;
  content: "";
}

.pagination__link {
  display: flex;
  justify-content: center;
  width: 13px;
  padding: 11px 24px 12px 23px;
  margin: 0;
  text-decoration: none;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #f2f2f2;
  background-color: #82b3d3;
  border-radius: 4px;
}

.pagination__link:hover,
.pagination__link:focus {
  background-color: #68a2ca;
}

.pagination__link:active {
  color: #ffffff4d;
}

.pagination__link--active {
  color: #000000;
  background-color: #f2f2f2;
}

.pagination__more {
  padding: 16px 21px 17px;
  color: #000000;
  background-color: #ffffff;
}

.subscribe-catalog {
  padding: 96px 258px 104px;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
}

.subscribe-catalog input {
  background-color: #f2f2f2;
  color: #000000;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  display: none;
  width: 1200px;
  height: 100%;
  background-color: #f2f2f2cc;
}

.modal {
  box-sizing: border-box;
  position: relative;
  margin: auto;
  padding: 64px 70px;
  border-radius: 30px;
  background-color: #ffffff;
  box-shadow: 0 0 15px 0 #00000033;
}

.modal-auth {
  width: 717px;
}

.modal-close-button {
  position: absolute;
  padding: 0;
  top: 64px;
  right: 52px;
  width: 52px;
  height: 52px;
  background-color: #f2f2f2;
  border: none;
  border-radius: 50%;
  background-image: url("../images/close.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.modal-close-button:hover {
  background-color: #e6e6e6;
}

.modal-close-button:focus {
  background-color: #e6e6e6;
  border: 3px solid #83b3d3;
}

.modal-close-button:active {

}

.modal-title {
  margin: 0;
  margin-bottom: 64px;
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.modal-form {
  display: grid;
  grid-template-columns: 137px 111px 90px 130px 110px;
  grid-template-rows: repeat(6, 48px) 60px;
}

.modal-label-start {
  grid-column: 1/2;
  grid-row: 1/2;
}

.modal-label-start,
.modal-label-end,
.modal-label-men,
.modal-label-child {
  display: flex;
  align-items: center;
  font: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  color: #000000;
}

.modal-input-start,
.modal-input-end {
  grid-column: 2/-1;
  font: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  padding: 0 20px;
  align-items: center;
  background: #f2f2f2;
  border: none;
  border-radius: 4px;
}

.modal-input-start:hover,
.modal-input-end:hover {
  background-color: #d9d9d9;
}

.modal-input-start:focus,
.modal-input-end:focus {
  background-color: #d9d9d9;
  border: 3px solid #83b3d3;
}

.info-error {
  color: #ff0000;
  grid-column: 2/6;
  font: inherit;
  font-size: 16px;
  font-weight: 400;
  padding-left: 20px;
  margin-top: 4px;
  word-spacing: 0.01em;
  border: none;
}

.modal-label-end {
  grid-column: 1/2;
  grid-row: 3/4;
}

.modal-input-end {
  grid-row: 3/4;
}

.info-yes {
  color: #333333;
  grid-column: 2/6;
  font: inherit;
  font-size: 16px;
  font-weight: 400;
  padding-left: 20px;
  margin-top: 4px;
  border: none;
}

.modal-label-men {
  grid-column: 1/2;
  grid-row: 5/6;
}

.men-container {
  display: flex;
  justify-content: center;
  gap: 0;
  grid-column: 2/3;
  grid-row: 5/6;
  background: #f2f2f2;
}

.button-minus,
.button-minus:active {
  display: inline-block;
  box-sizing: border-box;
  color: #7561574d;
  width: 40px;
  border: none;
  font-size: 30px;
  margin: 0;
  padding: 0;
  cursor: pointer;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.button-minus:hover {
  color: #000000;
}

.button-minus:focus {
  border: 3px solid #82b3d3;
  border-radius: 4px;
  color: #000000;
}

.men,
.child {
  width: 31px;
  margin: 0;
  padding: 14px 10px;
  text-align: center;
  background: #f2f2f2;
  font: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  border: none;
}

.button-plus {
  display: inline-block;
  box-sizing: border-box;
  color: #7561574d;
  width: 40px;
  border: none;
  font-size: 30px;
  margin: 0;
  padding: 0;
  cursor: pointer;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.button-plus:hover {
  color: #000000;
}

.button-plus:focus {
  border: 3px solid #82b3d3;
  border-radius: 4px;
  color: #000000;
}

.modal-label-child {
  grid-column: 4/5;
  grid-row: 5/6;
}

.tooltip {
  position: absolute;
  width: 26px;
  height: 26px;
  right: 227px;
}

.button-icon-info {
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  display: block;
  cursor: pointer;
}

.button-icon-info:hover + .tooltip-child-text,
.button-icon-info:focus + .tooltip-child-text {
  display: block;
}

.tooltip-child-text {
  position: absolute;
  display: none;
  margin: 0;
  padding: 15px 18px 18px 22px;
  background-color: #000000;
  color: #ffffff;
  width: 216px;
  left: -114px;
  top: 40px;
  font: inherit;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  border-radius: 10px;
  z-index: 1;
}

.child-container {
  display: flex;
  justify-content: center;
  gap: 0;
  grid-column: 5/6;
  grid-row: 5/6;
  background: #f2f2f2;
  border-radius: 4px;
}

.modal-submit {
  display: flex;
  justify-content: center;
  grid-column: 1/-1;
  grid-row: 7/8;
  align-items: center;
  border: none;
  padding: 18px 77px;
  background: #83b3d3;
  border-radius: 10px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  text-transform: uppercase;
}

.modal-submit:hover,
.modal-submit:focus {
  background-color: #68a2ca;
}

.modal-submit:active {
  background-color: #68a2ca;
  color: #cccccc;
}
