@font-face {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  font-family: "PT Sans";
  min-height: 100%;
  width: 1200px;
  padding: 0 70px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  background-color: #ffffff;
}

.main-container {
  flex-grow: 1;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-header {
  margin: 0;
  width: 1200px;
}

.main-nav {
  margin: 0 70px;
  display: flex;
  justify-content: space-between;
}

.main-nav__wrapper {
  display: flex;
  justify-content: space-between;
  width: 507px;
}

.main-nav__link {
  text-decoration: none;
  color: #000000;
}

.main-nav__link--current {
  border-bottom: 2px solid #756257;
}

.main-nav__list {
  display: flex;
  padding: 0;
  width: 339px;
  list-style: none;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.main-nav__list .main-nav__link {
  padding: 20px 16px;
}

.main-nav__search-list {
  margin: 0;
  padding: 0;
  display: flex;
  width: 268px;
  list-style: none;
  font-size: 16px;
  line-height: 20px;
}

.main-nav__search-list li {
  padding: 24px 13px 23px;
}

.main-nav__button {
  margin: 14px 0 14px 20px;
  padding: 8px 34px;
  text-decoration: none;
  color: #ffffff;
  background-color: #756157;
}

.main-nav__search-link {
  background-image: url("../images/search.svg");
  background-repeat: no-repeat;
}

.main-nav__favourites-link {
  background-image: url("../images/favourites.svg");
  background-repeat: no-repeat;
}

.hero__welcome-logo {
  position: absolute;
  top: 115px;
  left: 35%;
}

.slogan {
  padding: 69px 274px;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
}

.slogan__title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.advantages {
  margin-top: 21px;
  text-align: center;
}

.advantages__title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.advantages__image-title {
  color: #ffffff;
}

.advantages__list {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantages__item {
  padding-top: 112px;
  padding-bottom: 112px;
  width: 400px;
}

.advantages__item:nth-child(even) {
  background-color: #83b3d31f;
}

.advantages__item:nth-child(3n) {
  background-color: #83b3d333;
}

.advantages__item-sedona, .advantages__item-bridge {
  display: flex;
  width: 1200px;
  background-color: #82b3d3;
  color: #ffffff;
}

.item-sedona__container, .item-bridge__container {
  padding: 102px 85px;
}

.comfort {
  padding: 64px 347px;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
}

.comfort__title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.recommendation {
  text-align: center;
}

.recommendation__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0;
  padding: 0;
  list-style: none;
}

.recommendation__item {
  padding: 170px 85px 81px;
  width: 1fr;
}

.recommendation__title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.recommendation__hotel-item {
  background-image: url("../images/hotel.svg");
  background-repeat: no-repeat;
  background-position: 163px 85px;
  background-color: #83b3d31f;
}

.recommendation__food-item {
  background-image: url("../images/food.svg");
  background-repeat: no-repeat;
  background-position: 163px 85px;
  background-color: #ffffff;
}

.recommendation__souvenir-item {
  background-image: url("../images/souvenir.svg");
  background-repeat: no-repeat;
  background-position: 163px 85px;
  background-color: #83b3d31f;
}

.search {
  padding: 96px 304px;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.search__summon {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.search__link {
  padding: 8px 50px;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #756157;
}

.search__link-container {
  margin-top: 54px;
}

.subscribe {
  padding: 96px 258px 104px;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
  background-image: url("../images/background-serch.jpg");
  background-repeat: no-repeat;
  background-color: #82b3d3;
}

.subscribe__title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.subscribe__button {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  background-color: #82b3d3;
  border: none;
}

.main-footer {
  display: flex;
  justify-content: space-between;
}

.social {
  margin-left: 81px;
}

.social__list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.social__link-vk {
  background-image: url("../images/vk.svg");
  background-repeat: no-repeat;
}

.social__link-tg {
  background-image: url("../images/telegram.svg");
  background-repeat: no-repeat;
}

.social__link-youtube {
  background-image: url("../images/youtube.svg");
  background-repeat: no-repeat;
}

.contact a{
  margin-top: 45px;
  margin-bottom: 35px;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  color: #000000;
}

.html-academy {
  margin-right: 70px;
}

.html-academy__link {
  background-image: url("../images/HTML-Academy.svg");
  background-repeat: no-repeat;
}

.background-form {
  background-image: url("../images/background-form.jpg");
  background-repeat: no-repeat;
  background-size: 1200px 415px;
}

.inner-header {
  padding: 35px 70px 70px;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  color: #ffffff;
}

.inner-header__title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}

.breadcrumbs {
  display: flex;
  width: 114px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.breadcrumbs__home {
  background-image: url("../images/main-icon-house.svg");
  background-repeat: no-repeat;
}

.breadcrumbs__link {
  text-decoration: none;
}

.catalog-form {
  display: flex;
  justify-content: space-between;
  width: 1060px;
}

.catalog-form__group {
  display: flex;
  flex-direction: column;
  width: 150px;
}

.filters__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.filters {
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
}

.filters__button {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
}

.filters__button--current {
  background-color: #82b3d3;
}

.product-cards__wrapper {
  margin: 40px 70px;
}

.product-cards__filters {
  margin: 50px 70px 0;
  display: flex;
  justify-content: space-between;
}

.product-cards__list-view {
  display: flex;
  justify-content: space-between;
  width: 160px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.product-cards__result {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.list-view__item {
  padding: 17px 16px;
}

.product-cards__button-grid {
  background-image: url("../images/cards-grid.svg");
  background-repeat: no-repeat;
  width: 48px;
  height: 48px;
}

.product-cards__button-big {
  background-image: url("../images/cards-big.svg");
  background-repeat: no-repeat;
  width: 48px;
  height: 48px;
}

.product-cards__button-list {
  background-image: url("../images/cards-list.svg");
  background-repeat: no-repeat;
  width: 48px;
  height: 48px;
}

.product-cards__list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  width: 1060px;
  list-style: none;
}

.product-cards__item {
  width: 340px;
  margin-right: 20px;
}

.product-cards__item:nth-child(3n) {
  margin-right: 0;
}

.product-cards__title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
}

.product-cards__button-more {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
  background-color: #756157;
  text-align: center;
}

.product-cards__button-favourites {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #ffffff;
  background-color: #82b3d3;
  text-align: center;
}

.product-cards__button-favourites--active {
  background-color: #7db54f;
}

.product-cards__rating {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: inherit;
  background-color: #f2f2f2;
}

.pagination {
  display: flex;
  justify-content: space-between;
  width: 400px;
  margin: 0;
  margin-top: 40px;
  padding: 0;
  list-style: none;
}

.pagination__link {
  padding: 11px 18px 12px;
  width: 60px;
  text-decoration: none;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #f2f2f2;
  background-color: #82b3d3;
}

.pagination__link--active {
  color: #000000;
  background-color: #f2f2f2;
}

.pagination__more {
  padding: 16px 21px 17px;
  color: #000000;
  background-color: #ffffff;
}

.subscribe-catalog {
  padding: 96px 258px 104px;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
}
